*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #21243d;
    font-family: 'Montserrat', sans-serif;

}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 68px;
    margin-bottom: 5px;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
}
.hero-content{
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    top: 20%;
    left: 5%;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.order{
    position: absolute;
    top: 60%;
    left: 5%;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: large;
    width: 322px;
    height: 65px;
    border-radius: 33px;
    background-color: #21243d;
    border: transparent;
    cursor: pointer;
}

.popular-menu{
    margin-top: -5px;
    background-color: #21243d;
    align-items: center;
    font-family: 'Montserrat,'sans-serif;
    padding: 20px;
}

.popular-menu-text{
    padding-top: 40px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}

.menu-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.menu-card{
    gap: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

.menu-inner-card{
    align-items: center;
    text-align: center;
    font-family: 'Montserrat','sans-serif';
    color: white;
}

.menu-inner-card-head{
    font-size: 32px;
    font-weight: 700;
}
.menu-inner-card-txt{
font-size: 17px;
color: #ffffff;
font-weight: 400;
text-align: center;
}

.main-sushi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffd17e;
    padding: 40px;
    gap: 240px;
}

.sushi-img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.sushi-text{
    padding-top: 40px;
    font-weight: 600;
    color: #21243d;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}

.sushi-text > h2{
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 40px;
    text-wrap: wrap;
}

.sushi-text > p{
    margin-bottom: 40px;
}
    
.sushi-btn{
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: large;
    width: 322px;
    height: 65px;
    border-radius: 33px;
    background-color: #21243d;
    border: transparent;
    cursor: pointer;
}

.stats-menu{
    margin-top: -5px;
    background-color: #21243d;
    align-items: center;
    font-family: 'Montserrat,'sans-serif;
    padding: 20px;
}


.stats-card{
    gap: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
    align-items: center;
}

.stats-inner-card{
    align-items: center;
    text-align: center;
    font-family: 'Montserrat','sans-serif';
    color: white;
    width: 274px;
    height: 275px;
    border-radius: 138px;
    border: 5px solid#ffffff;
    padding-top: 100px;
}

.stats-menu-text{
    padding-top: 40px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}

.stats-menu-text >h2{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 40px;
    text-wrap: wrap;
}

.stats-menu-text > p{
    font-size: 20px;
    margin-bottom: 40px;
}

.stats-inner-card > h3{
    font-size: 40px;
    font-weight: 700;
}
.stats-inner-card > p{
    font-size: 20px;
    font-weight: 400;
}